.red-div {
  background-color: #FF0000;
}

.green-div {
  background-color: #00FF00;
}

.blue-div {
  background-color: #0000FF;
}

.black-div {
  background-color: #000000;
}

.col-1 {
  width: 8%;
}

.col-2 {

}

.col-3 {

}

.col-4 {

}

.col-6 {

}

.col-12 {

}
